<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision
            fileVersion="4.0.0">
      </managedBuildRevision>
      <toolChain
            configurationEnvironmentSupplier="com.android.ide.eclipse.ndk.internal.build.NdkEnvSupplier"
            id="com.android.toolchain.gcc"
            isAbstract="false"
            name="Android GCC">
         <targetPlatform
               binaryParser="org.eclipse.cdt.core.ELF"
               id="com.android.targetPlatform"
               isAbstract="false">
         </targetPlatform>
         <builder
               cleanBuildTarget="clean"
               command="ndk-build"
               commandLauncher="com.android.ide.eclipse.ndk.internal.build.NdkCommandLauncher"
               id="com.android.builder"
               isAbstract="false"
               isVariableCaseSensitive="false"
               name="Android Builder">
         </builder>
         <tool
               id="com.android.gcc.compiler"
               isAbstract="false"
               name="Android GCC Compiler"
               natureFilter="both">
            <option
                  browseType="directory"
                  id="com.android.gcc.option.includePath"
                  isAbstract="false"
                  resourceFilter="all"
                  valueType="includePath">
            </option>
            <inputType
                  id="com.android.gcc.inputType"
                  scannerConfigDiscoveryProfileId="com.android.AndroidPerProjectProfile"
                  sources="c,cpp">
            </inputType>
         </tool>
      </toolChain>
   </extension>
   <extension
         id="com.android.AndroidPerProjectProfile"
         name="Android Per Project Profile"
         point="org.eclipse.cdt.make.core.ScannerConfigurationDiscoveryProfile">
      <scannerInfoCollector
            class="com.android.ide.eclipse.ndk.internal.discovery.NdkScannerInfoCollector"
            scope="project">
      </scannerInfoCollector>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="SetFolders"
            processRunner="com.android.ide.eclipse.ndk.internal.templates.SetFolders">
         <simple
               name="projectName">
         </simple>
         <simpleArray
               name="sourceFolders">
         </simpleArray>
         <simpleArray
               name="outputFolders">
         </simpleArray>
      </processType>
      <processType
            name="SimpleFile"
            processRunner="com.android.ide.eclipse.ndk.internal.templates.SimpleFile">
         <simple
               name="projectName">
         </simple>
         <complexArray
               name="files">
            <baseType>
               <simple
                     name="source">
               </simple>
               <simple
                     name="destination">
               </simple></baseType>
         </complexArray>
      </processType>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templates">
      <template
            id="com.android.ide.eclipse.ndk.addNdkSupport"
            location="templates/addNdkSupport.xml"
            projectType="none">
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.android.ide.eclipse.preferences.main"
            class="com.android.ide.eclipse.ndk.internal.preferences.NdkPreferencePage"
            id="org.eclipse.cdt.android.page"
            name="NDK">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.android.ide.eclipse.ndk.projectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="com.android.ide.eclipse.adt.AndroidNature">
               </objectState>
               <not>
                  <objectState
                        name="projectNature"
                        value="org.eclipse.cdt.core.cnature">
                  </objectState>
               </not>
            </and>
         </visibility>
         <action
               class="com.android.ide.eclipse.ndk.internal.actions.AddNativeAction"
               enablesFor="1"
               id="org.eclipse.cdt.android.action1"
               label="Add Native Support..."
               menubarPath="com.android.ide.eclipse.adt.AndroidTools/ndk">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.android.ide.eclipse.ndk.internal.preferences.NdkPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.android.ide.eclipse.ndk.internal.launch.NdkGdbLaunchDelegate"
            delegateName="Android ndk-gdb Launcher"
            id="com.android.ide.eclipse.ndk.debug.LaunchConfigType"
            modes="debug"
            name="Android Native Application"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.android.ide.eclipse.ndk.debug.LaunchConfigType"
            icon="icons/android_app.png"
            id="com.android.ide.eclipse.ndk.debug.LaunchConfigTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.android.ide.eclipse.ndk.internal.launch.NdkGdbLaunchConfigTabGroups"
            description="Android Native Application"
            id="com.android.ide.eclipse.ndk.debug.LaunchConfigTabGroup"
            type="com.android.ide.eclipse.ndk.debug.LaunchConfigType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.android.ide.eclipse.ndk.internal.launch.NdkGdbLaunchShortcut"
            id="com.android.ide.eclipse.ndk.debug.LaunchConfigShortcut"
            label="Android Native Application"
            modes="debug">
            <contextualLaunch>
                <enablement>
                    <with variable="selection">
                        <count value="1" />
                        <iterate>
                            <and>
                                <test property="org.eclipse.jdt.launching.isContainer" />
                                <test
                                    property="org.eclipse.jdt.launching.hasProjectNature"
                                    args="com.android.ide.eclipse.adt.AndroidNature" />
                            </and>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
            <perspective id="org.eclipse.jdt.ui.JavaPerspective" />
            <perspective id="org.eclipse.debug.ui.DebugPerspective" />
            <perspective
                  id="org.eclipse.cdt.ui.CPerspective">
            </perspective>
            <configurationType id="com.android.ide.eclipse.ndk.debug.LaunchConfigType">
            </configurationType>
            <description
                description="Debug as Android Native Application"
                mode="debug">
            </description>
      </shortcut>
   </extension>

</plugin>
