<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.android.ide.eclipse.monitor.Application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.android.ide.eclipse.monitor.MonitorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="com.android.ide.eclipse.monitor.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.android.ide.eclipse.monitor.Application"
            name="Android Device Monitor">
         <property
               name="appName"
               value="Monitor">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="images/ddms-16.png,images/ddms-32.png,images/ddms-128.png">
         </property>
         <property
               name="aboutImage"
               value="images/ddms-128.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>

      </product>
   </extension>
   <extension
         point="com.android.ide.eclipse.ddms.toolsLocator">
      <locator
            class="com.android.ide.eclipse.monitor.ToolsLocator">
      </locator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.android.ide.eclipse.monitor.handlers.StaticPortConfigHandler"
            id="com.android.monitor.commands.StaticPortConfiguration"
            name="Static Port Configuration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=additions">
         <command
               commandId="com.android.monitor.commands.StaticPortConfiguration"
               label="Static Port Configuration"
               style="push"
               tooltip="Configure static debug ports">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=additions">
         <command
               commandId="org.eclipse.ui.views.showView"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.android.ide.eclipse.monitor.AndroidPreferencePage"
            id="com.android.ide.eclipse.preferences.main"
            name="Android">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.android.ide.eclipse.monitor.MonitorStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="monitor.actionSet.AvdSdkManager"
            label="Android SDK and AVD Manager"
            visible="true">
            <action
                class="com.android.ide.eclipse.monitor.actions.AvdManagerAction"
                icon="images/avd_manager.png"
                id="com.android.ide.eclipse.monitor.avdmanager"
                label="Android Virtual Device Manager"
                menubarPath="Window/additions"
                style="push"
                toolbarPath="android_project">
            </action>
            <action
                class="com.android.ide.eclipse.monitor.actions.SdkManagerAction"
                icon="images/sdk_manager.png"
                id="com.android.ide.eclipse.monitor.sdkmanager"
                label="Android SDK Manager"
                menubarPath="Window/additions"
                style="push"
                toolbarPath="android_project">
            </action>
      </actionSet>
   </extension>
</plugin>
