allow system mali_device:chr_file rw_file_perms;

# Label the .gps.interface.pipe.to_jni pipe with gps_data_file.
type_transition system system_data_file:fifo_file gps_data_file ".gps.interface.pipe.to_jni";
