<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.DeviceSelectorView"
            icon="icons/device.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.DeviceSelectorView"
            name="Windows">
      </view>
            <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.PixelPerfectView"
            icon="icons/pixel-perfect.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.PixelPerfectView"
            name="Pixel Perfect">
      </view>
      <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.PixelPerfectLoupeView"
            icon="icons/pixel-perfect.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.PixelPerfectLoupeView"
            name="Pixel Perfect Loupe">
      </view>
      <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.PixelPerfectTreeView"
            icon="icons/pixel-perfect.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.PixelPerfectTreeView"
            name="Pixel Perfect Tree">
      </view>
      <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.TreeViewView"
            icon="icons/tree-view.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.TreeViewView"
            name="Tree View">
      </view>
      <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.PropertyView"
            icon="icons/tree-view.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.PropertyView"
            name="View Properties">
      </view>
      <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.TreeOverviewView"
            icon="icons/tree-view.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.TreeOverviewView"
            name="Tree Overview">
      </view>
      <view
            allowMultiple="false"
            category="com.android.ide.eclipse.ddms.views.category"
            class="com.android.ide.eclipse.hierarchyviewer.views.LayoutView"
            icon="icons/tree-view.png"
            id="com.android.ide.eclipse.hierarchyviewer.views.LayoutView"
            name="Layout View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.android.ide.eclipse.hierarchyviewer.PixelPerfectPespective"
            icon="icons/pixel-perfect.png"
            id="com.android.ide.eclipse.hierarchyviewer.PixelPerfectPespective"
            name="Pixel Perfect"/>
      <perspective
            class="com.android.ide.eclipse.hierarchyviewer.TreeViewPerspective"
            icon="icons/hierarchyviewer-16.png"
            id="com.android.ide.eclipse.hierarchyviewer.TreeViewPerspective"
            name="Hierarchy View"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <perspectiveShortcut id="com.android.ide.eclipse.hierarchyviewer.PixelPerfectPespective"/>
         <perspectiveShortcut id="com.android.ide.eclipse.hierarchyviewer.TreeViewPerspective"/>
      </perspectiveExtension>
   </extension>
</plugin>
