<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2009 The Android Open Source Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cts.permission2">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <!--
        This app contains tests to verify specialized permissions, that require the app to have
        some permissions.
    -->

    <!--  need ability to send sms, to test that SMS's cannot be received -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- needs read phone state to get current phone number -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--  need app that has WRITE_SETTINGS but not WRITE_SECURE_SETTINGS -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!--  need app that has CALL_PHONE but not PROCESS_OUTGOING_CALL -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <!-- need app that has RECORD_AUDIO but not CAPTURE_AUDIO_OUTPUT -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- need a permission that would ordinarily be granted, but has a maxSdkVersion that
         causes it to be withheld under the current API level -->
    <uses-permission
            android:name="android.permission.VIBRATE"
            android:maxSdkVersion="18" />

    <!-- need a permission that will be granted -->
    <uses-permission
            android:name="android.permission.FLASHLIGHT"
            android:maxSdkVersion="9000" />

    <instrumentation android:name="android.test.InstrumentationCtsTestRunner"
                     android:targetPackage="com.android.cts.permission2"
                     android:label="More CTS tests for permissions"/>

</manifest>

