/dev/knvmap     0660    system  system
/dev/nvmap      0666    system  system
/dev/tegra_avp  0660    media   media
/dev/tegra_avpchannel   0660    media   media
/dev/tegra_rpc  0660    media   media
/dev/tegra_avpchannel   0660    media   media
/dev/tegra_sema	0660    media   media
/dev/tegra_mediaserver  0660    media   media
/dev/ov2710     0660    media   camera
/dev/mi1040     0660    media   camera
/dev/tegra_camera 0660  media   camera
/dev/camera*    0660    media   camera
/dev/focuser*   0660    media   camera
/dev/torch*     0660    media   camera
/dev/video0     0660    media   camera
/dev/video1     0660    media   camera
/dev/spdif*     0660    system  audio
/dev/tegra_dc*  0660    system  system
/dev/ttyACM*    0660    radio   system
/dev/ttyACM2    0660    radio   log
/dev/nvhost-ctrl	0666	root	root
/dev/nvhost-display	0000	root	root
/dev/nvhost-dsi	0000	root	root
/dev/nvhost-gr2d	0666	root	root
/dev/nvhost-gr3d	0666	root	root
/dev/nvhost-isp	0660	media	media
/dev/nvhost-mpe	0660	media	media
/dev/nvhost-vi	0660	media	media
/dev/tf_driver  0660    drmrpc	drmrpc
#for FM V4L2 Radio
/dev/radio      0666    system  radio
/dev/ion        0666    system  system
/dev/pn544      0660    nfc     nfc
