# Grant DRM Service access to Qualcomm Secure Execution Environment Communicator (QSEECOM) device
allow drmserver qseecom_device:chr_file rw_file_perms;
allow drmserver sdcard_external:file open;
