# Grant keystore daemon access to Qualcomm Secure Execution Environment Communicator (QSEECOM) device
allow keystore qseecom_device:chr_file rw_file_perms;

