<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.android.ide.eclipse.preferences.main"
            class="com.android.ide.eclipse.base.internal.preferences.UsagePreferencePage"
            id="com.android.ide.eclipse.common.preferences.UsagePreferencePage"
            name="Usage Stats">
      </page>
   </extension>

</plugin>
